@page "/"

<PageTitle>InfoTrack 365 Plus</PageTitle>

<div class="row mt-3">
	<div class="offset-4 col-4 text-center">
		<h3>Welcome to InfoTrack 365 Plus Process Serving</h3>
		<a href="/new/upload">Get Started</a>
	</div>
</div>
