
<form class="row">
	<div class="col-10">
		<label for="document-upload" class="form-label">Upload your process serve document</label>
		<InputFile OnChange="@LoadFileAsync" class="form-control" id="document-file" disabled="@IsLoading" />
	</div>

	@if (IsLoading)
	{
		<div class="col-2 text-center d-flex align-items-end">
			<LoadingSpinner Size="lg" />
		</div>
	}

	@if (IsComplete)
	{
		<div class="col-2 text-center d-flex align-items-end">
			<i class="bi bi-check-circle-fill text-success"></i>
		</div>
	}
</form>
